@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.max-w-4xl {
  max-width: 64rem;
  width: 100%;
}

.p-6 {
  padding: 1.5rem;
}

.space-y-6 > * + * {
  margin-top: 1.5rem;
}

.list-disc {
  list-style-type: disc;
}

.list-inside {
  list-style-position: inside;
}